# DB
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pdrflow

# Celery / Redis
REDIS_URL=redis://localhost:6379/0

# Django
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Timezone
DJANGO_TIME_ZONE=Europe/Bratislava
